@if (Context.User.Identity.IsAuthenticated == false)
{
    <li class="nav-item">
        <a asp-controller="Usuarios"
           asp-action="PerfilUsuario"
           class="nav-link">
            Log In
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a asp-controller="Usuarios"
           asp-action="PerfilUsuario"
           class="nav-link">
            Hola, @Context.User.Identity.Name
        </a>
    </li>
    <li class="nav-item">
        <a asp-controller="Libros"
           asp-action="PedidosUsuario"
           class="nav-link">
            Pedidos Usuario
        </a>
    </li>
    <li class="nav-item">
        <a asp-controller="Managed"
           asp-action="Logout"
           class="nav-link">
            Cerrar Session
        </a>
    </li>
}